border-radius: 15px;
    }

    .content .title h2 {
        font-family: 'Dancing Script', cursive;
        font-size: 2rem;
        color: rgb(181, 12, 17);
        opacity: 0;
        transform: translateY(-40px);
        transition: 2s;
    }

    .warpper:hover .title h2 {
        opacity: 1;
        transform: translateY(1px);
    }

    .content p {
        padding: 21px 40px;
        font-size: 1rem;
        font-family: 'Dancing Script', cursive;
        opacity: 0;
        transition: all 1s;
    }

    .gifs_left {
        position: absolute;
        width: 92px;
        bottom: -69px;
        left: -37px;
    }
}
